extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box


        h1 Devin Ramirez

        p Father
        p Full Stack JavaScript Developer
        P Hardworker


        .about-bio

          p I am a bucket full of experience. From being an Eagle Scout learning to develop Leadership skills and Teamwork. To my experience across multiple fields such as retail, cemetery groundskeeper, inspector in oil and gas, and finally a machinist. I have experienced many different problems to solve across all these fields giving myself exceptional problem solving skills. Isn't that a number 1 strength of a developer? Plan and problem solve? I have years of experience doing that across all different skills giving me a variety of views to tackle any problems or projects thrown my way.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li React 
          li SQL 
          li PHP 
          li Rest API 
          li Problem Solving 
          li Teamwork 
          li Leadership Abilities
          li Loyalty 

        h6 Contact Info

        ul
          li 832-315-0649
          li devinramirez207@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/devin-ramirez-0a0998212/') LinkedIn
        a.btn-link(href='https://github.com/DevinRamirez1') GitHub
        a.btn-link(href='https://twitter.com/devin_ramirez1') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back